/**
	* @name Glass
	* @description Transparency for the Discord client.
	* @version 1.0.0
	* @author LY
	* @authorId 1018961806393360454
	* @website https://github.com/LYzyx/
	* @invite 5XDDB2Gxn8
	* @donate null
	* @source https://github.com/LYzyx/BetterDiscordAddons/blob/main/themes/Glass/Glass.theme.css
	* @updateUrl https://raw.githubusercontent.com/LYzyx/BetterDiscordAddons/main/themes/Glass/Glass.theme.css
*/


#app-mount .bg-1QIAus {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--background-image);
	background-position: var(--background-image-position, center);
	background-size: var(--background-image-size, cover);
}


#app-mount .container-3wLKDe {
	background: transparent;
}

#app-mount .chat-2ZfjoI {
	background: transparent;
}
#app-mount .background-fkKrXt {
	background: transparent;
}

#app-mount .header-3xB4vB {
	background: transparent;
}
#app-mount .content-1jQy2l {
	background: transparent;
}

/* User Profile */
#app-mount .root-2uUafN {
	background: transparent;
}

/* Popup Modals */
#app-mount .modal-1ocm0B {
	background: transparent;
}
#app-mount .root-g14mjS {
	background: transparent;
}
#app-mount .fullscreenOnMobile-ixj0e3 {
	background: transparent;
}
#app-mount .card-14SgW5 {
	background: transparent;
}
#app-mount .theme-dark {
	background: transparent;
}
#app-mount .navRow-dG-XX8 {
	background: transparent;
}


:root,
.theme-dark,
.theme-light {
	
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent; 
    --background-tertiary: transparent;
    --background-accent: transparent;
    --background-floating: transparent;
	
    --channeltextarea-background: transparent;
	
    --searcharea-background: transparent;
	
    --input-background: transparent;
	
    --channels-default: white;
	
    --text-normal: #dcddde;
    --text-muted: #969696;
	
    --scroller-thumb: transparent;
    --scroller-track: transparent;
	
    --background-modifier-rgb: transparent;
    --background-modifier-hover: transparent;
    --background-modifier-active: transparent;
    --background-modifier-selected: transparent;
    --background-modifier-accent: transparent;
	
    --interactive-normal: #3E82E5;
    --interactive-hover: #443AFF;
    --interactive-active: #C666FF;
    --interactive-muted: gray;

	/*
		Change this url to whatever image you'd rather use.
		Default is just a transparent background.
		Alternatively, remove it for even more transparency!
	*/
	--background-image: url('https://raw.githubusercontent.com/LYzyx/BetterDiscordAddons/main/themes/Glass/background.png');
}
